# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.github/

# Editor directories
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
public/

# Service Worker
firebase-messaging-sw.js

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
*.bak
*.swp
*.tmp
